@mixin estilogridsA {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "ab1 ab2 ab3 ab4"
      "ab5 ab6 ab7 ab8"
      "ab9 ab10 ab11 ab12";
      justify-items: center;
      align-items: center;
      justify-content: center;
}
@mixin estilogridsB {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "cam1 cam2 cam3 cam4"
      "cam5 cam6 cam7 cam8"
      "cam9 cam10 cam11 cam12";
      justify-items: center;
      align-items: center;
      justify-content: center;
}

@mixin estilogridsC {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "rem1 rem2 rem3 rem4"
      "rem5 rem6 rem7 rem8"
      "rem9 rem10 rem11 rem12";
      justify-items: center;
      align-items: center;
      justify-content: center;
}


@mixin estilogridsD {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "pant1 pant2 pant3 pant4"
      "pant5 pant6 pant7 pant8"
      "pant9 pant10 pant11 zap12";
      justify-items: center;
      align-items: center;
      justify-content: center;
}
@mixin estiloGridsE {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "zap1 zap2 zap3 zap4"
      "zap5 zap6 zap7 zap8"
      "zap9 zap10 zap11 zap12";
      justify-items: center;
      align-items: center;
      justify-content: center;
}