.footer {
    background-color: rgb(114, 6, 96);
    color: rgb(7, 78, 141);
    border:red 5px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    &__redes {
        display: flex;
        img {
            width: 45px;
            height: 45px;
        }
    }
    &__newsletter {
        p{
            color: violet;
        }
    }
    &__ul { 
        li {
             list-style: none;
        }
       
        a{
            text-decoration: none;
            color: rgba(238, 130, 238, 0.524);
           
        }
    }
}