.header {
  background: rgb(118,3,171);
  background: linear-gradient(184deg, rgba(118,3,171,1) 30%, rgba(0,0,0,1) 59%);

  &__logo {
    font-family: $typoPrincipal;
    text-align: center;
    color: orange;
    text-decoration: none;
    padding-bottom: 60px;
    h1 {
      font-size: 75px;
      font-family: $typoLogo;
    }
    h1:hover {
      color: aqua;
      transition: 0.5s;
      text-decoration: line-through;
    }
    a{
      text-decoration: none;
      color: violet;
    }
  }
  &__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    // padding-left: 150px;
    // padding-right: 150px;
margin-left:150px;
margin-right: 150px;

    li {
      list-style: none;
      text-decoration: none;
      color: orange;
    }
    li:hover {
      text-decoration: underline;
      transition: 0.5s;
    }

    a {
      text-decoration: none;
      color: violet;
      font-family: $typoLogo;
      font-size: 30px;
    }
  }
}
