.header {
 background-color: $colorHeader;
  &__registro {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: $typoPrincipal;
    a{
      text-decoration: none;
      color: $colorletras;
    }
    a:hover{
      text-decoration: underline;
      color: $colorletras;
    }
  }

  &__logo {
    font-family: $typoPrincipal;
    text-align: center;
    color: orange;
    text-decoration: none;
    padding-bottom: 60px;
    h1 {
      font-size: 75px;
      font-family: $typoLogo;
    }
    h1:hover {
      color: aqua;
      transition: 0.5s;
      text-decoration: solid;
      color: violet;
    }
    a{
      text-decoration: none;
      color:$colorletras;
    }
  }
  &__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    // padding-left: 150px;
    // padding-right: 150px;
margin-left:150px;
margin-right: 150px;

    li {
      list-style: none;
      text-decoration: none;
      color: orange;
    }
    li:hover {
      text-decoration: underline;
      transition: 0.5s;
    }

    a {
      text-decoration: none;
      color: $colorletras;
      font-family: $typoLogo;
      font-size: 30px;
    }
  }
}
@media (max-width:425px) {
  .header {
    &__nav{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      a{
        font-size: 15px;
      }
    }
  }
}
