.formulario {
 background-color: $colorFondo;
&__contact {
  text-align: center;
  font-family: $typoLogo;
  color: $colorletras;
}
  &__form{
    margin-left: 400px;
    margin-right: 400px;
    padding: 300px ;
    color:$colorletras;
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding: 50px;
    font-family: $typoLogo;
  }
}
@media (max-width:1021px)  {
  .formulario{
    &__form {
  //      margin-left: 400px;
  // margin-right: 400px;
  // padding: 300px ;
  color:$colorletras;
  background-color: rgb(157, 27, 27);
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  font-family: $typoLogo;
    }
  }
 
}