.camperas {
  background-color: $colorFondo;
&__titulo{
    color:$colorletras;
    text-align: center;
    font-family: $typoLogo;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left:300px ;
    margin-right:300px ;
    h2{
font-size: 75px;
    }
    p{
        font-size: 30px;
    }
}
&__banner {
    text-align: center;
    padding-bottom: 80px;
    color:$colorletras;
    font-family: $typoLogo;
    font-size: 30px;
    img{
        width: 1000px;
        height: 350px;
    }
    p{
        margin-left:400px ;
        margin-right:400px ;
    }
}
&__tienda{
  display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "cam1 cam2 cam3"
          "cam4 cam5 cam6"
          "cam7 cam8 cam9";
          justify-items: center;
          align-items: center;
          justify-content: center;
          align-content: center;
          img{
        width: 350px;
        height: 350px;
    
          }
          p{
            text-align: center;
            color:$colorletras;
            font-family: $typoLogo;
            font-size: 20px;
          }
      }
      
      .cam1 { grid-area: cam1;
        padding-top: 50px;
    padding-bottom: 100px; }
      
      .cam2 { grid-area: cam2; 
        padding-top: 50px;
        padding-bottom: 100px;}
      
      .cam3 { grid-area: cam3; 
        padding-top: 50px;
        padding-bottom: 100px;}
      
      .cam4 { grid-area: cam4;
        padding-top: 50px;
        padding-bottom: 100px; }
      
      .cam5 { grid-area: cam5;
        padding-top: 50px;
        padding-bottom: 100px; }
      
      .cam6 { grid-area: cam6;
        padding-top: 50px;
        padding-bottom: 100px; }
      
      .cam7 { grid-area: cam7;
        padding-top: 50px;
        padding-bottom: 100px; }
      
      .cam8 { grid-area: cam8;
        padding-top: 50px;
        padding-bottom: 100px; }
      
      .cam9 { grid-area: cam9;
        padding-top: 50px;
        padding-bottom: 100px; }
      
}
@media (max-width:1050px){
  .camperas { 
    &__titulo{
      margin: 0px;
      padding: 0px;
    }
    &__banner {
      img{
        width: 600px;
        height: 300px;
      }
    }
    &__tienda {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      img{
        height: 250px;
        width: 250px;
      }
  }
    }
  }
  @media (max-width:750px){
    .camperas{
      &__titulo{
        margin: 0px;
        padding: 0px;

      }
      &__banner{
        img{
          height: 150px;
          width: 350px;
        }
      }
    }
  }
  @media (max-width:330px){
    .camperas{
       &__banner{
      img{
        height: 150px;
        width: 300px;
      }
    }
    }
   
  }

