.main {
  &__logo {
    text-align: center;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
    h2 {
      padding-bottom: 30px;
      font-size: 40px;
      color:$colorletras;
      font-family: $typoLogo;
    }
    p {
      font-size: 20px;
      color:$colorletras;
      margin-left: 200px;
      margin-right: 200px;
      font-family: $typoLogo;
    }
  }
  background-color: $colorFondo;
  color: azure;
  &__banner {
    color:$colorletras;
    text-align: center;
    img {
      width: 800px;
      height: 300px;
    }
    p {
      padding: 20px;
      margin-left: 400px;
      margin-right: 400px;
      font-family: $typoLogo;
    }
  }

  &__cards {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px 13px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img2 img3"
      "img4 img5 img6"
      "img7 img8 img9";
      img {
    width: 450px;
    height: 350px;
  }
  p {
    text-align: center;
  }
  a {
    text-decoration: none;
    color:$colorletras;
    font-family: $typoLogo;
    font-size: 30px;
  }
  }

  .img1 {
    grid-area: img1;
    padding: 40px;
  }

  .img2 {
    grid-area: img2;
    padding: 40px;
  }

  .img3 {
    grid-area: img3;
    padding: 40px;
  }

  .img4 {
    grid-area: img4;
    padding: 40px;
  }

  .img5 {
    grid-area: img5;
    padding: 40px;
  }

  .img6 {
    grid-area: img6;
    padding: 40px;
  }

  .img7 {
    grid-area: img7;
    padding: 40px;
  }

  .img8 {
    grid-area: img8;
    padding: 40px;
  }

  .img9 {
    grid-area: img9;
    padding: 40px;
  }
  
  &__aboutus {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }

    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
  }
  &__faqs {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }

    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
  }
  &__store {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }
    p {
      font-size: 50px;
      text-decoration: underline;
      padding-bottom: 30px;
      font-family: $typoLogo;
    }

    padding: 40px;
    margin-left: 400px;
    margin-right: 400px;
  }

  &__sucursalesul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    li {
      font-size: 30px;
    }
  }
}

@media (max-width:1600px){
  .main {
  &__logo {
    text-align: center;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
    h2 {
      padding-bottom: 30px;
      font-size: 40px;
      color:$colorletras;
      font-family: $typoLogo;
    }
    p {
      font-size: 20px;
      color:$colorletras;
      margin-left: 200px;
      margin-right: 200px;
      font-family: $typoLogo;
    }
  }
  background-color: $colorFondo;
  color: azure;
  &__banner {
    color:$colorletras;
    text-align: center;
    img {
      width: 800px;
      height: 300px;
    }
    p {
      padding: 20px;
      margin-left: 400px;
      margin-right: 400px;
      font-family: $typoLogo;
    }
  }

  &__cards {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px 13px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img2 img3"
      "img4 img5 img6"
      "img7 img8 img9";
      img {
    width: 450px;
    height: 350px;
  }
  p {
    text-align: center;
  }
  a {
    text-decoration: none;
    color:$colorletras;
    font-family: $typoLogo;
    font-size: 30px;
  }
  }

  .img1 {
    grid-area: img1;
    padding: 40px;
  }

  .img2 {
    grid-area: img2;
    padding: 40px;
  }

  .img3 {
    grid-area: img3;
    padding: 40px;
  }

  .img4 {
    grid-area: img4;
    padding: 40px;
  }

  .img5 {
    grid-area: img5;
    padding: 40px;
  }

  .img6 {
    grid-area: img6;
    padding: 40px;
  }

  .img7 {
    grid-area: img7;
    padding: 40px;
  }

  .img8 {
    grid-area: img8;
    padding: 40px;
  }

  .img9 {
    grid-area: img9;
    padding: 40px;
  }
  
  &__aboutus {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }

    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
  }
  &__faqs {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }

    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
  }
  &__store {
    font-family: $typoLogo;
    color:$colorletras;
    h3 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 80px;
      text-decoration: underline 5px;
    }
    p {
      font-size: 50px;
      text-decoration: underline;
      padding-bottom: 30px;
      font-family: $typoLogo;
    }

    padding: 40px;
    margin-left: 400px;
    margin-right: 400px;
  }

  &__sucursalesul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    li {
      font-size: 30px;
    }
  }
}
}

@media (max-width:1599px){
  .main {
    &__logo {
      text-align: center;
      
      h2 {
        padding-bottom: 30px;
        font-size: 40px;
        color:$colorletras;
        font-family: $typoLogo;
      }
      p {
        font-size: 20px;
        color:$colorletras;
       
        font-family: $typoLogo;
      }
    }
    background-color: $colorFondo;
    color: azure;
    &__banner {
      color:$colorletras;
      text-align: center;
      img {
        width: 800px;
        height: 300px;
      }
      p {
      
        font-family: $typoLogo;
      }
    }
  
    &__cards {
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: space-evenly;
      padding: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      gap: 8px 13px;
      grid-auto-flow: row;
      grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9";
        img {
      width: 250px;
      height: 250px;
    }
    p {
      text-align: center;
    }
    a {
      text-decoration: none;
      color:$colorletras;
      font-family: $typoLogo;
      font-size: 30px;
    }
    }
  
    .img1 {
      grid-area: img1;
      padding: 40px;
    }
  
    .img2 {
      grid-area: img2;
      padding: 40px;
    }
  
    .img3 {
      grid-area: img3;
      padding: 40px;
    }
  
    .img4 {
      grid-area: img4;
      padding: 40px;
    }
  
    .img5 {
      grid-area: img5;
      padding: 40px;
    }
  
    .img6 {
      grid-area: img6;
      padding: 40px;
    }
  
    .img7 {
      grid-area: img7;
      padding: 40px;
    }
  
    .img8 {
      grid-area: img8;
      padding: 40px;
    }
  
    .img9 {
      grid-area: img9;
      padding: 40px;
    }
    
    &__aboutus {
      font-family: $typoLogo;
      color:$colorletras;
      h3 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 80px;
        text-decoration: underline 5px;
      }
  
      padding: 40px;
      margin-left: 300px;
      margin-right: 300px;
    }
    &__faqs {
      font-family: $typoLogo;
      color:$colorletras;
      h3 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 80px;
        text-decoration: underline 5px;
      }
  
      padding: 40px;
      margin-left: 300px;
      margin-right: 300px;
    }
    &__store {
      font-family: $typoLogo;
      color:$colorletras;
      h3 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 80px;
        text-decoration: underline 5px;
      }
      p {
        font-size: 50px;
        text-decoration: underline;
        padding-bottom: 30px;
        font-family: $typoLogo;
      }
  
      padding: 40px;
      margin-left: 400px;
      margin-right: 400px;
    }
  
    &__sucursalesul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      li {
        font-size: 30px;
      }
    }
  }
}
 @media(max-width:900px) { 
    .main {
      &__logo {
margin: 0px;
padding: 20px;
      }
    &__banner {
      p{
        margin: 0px;
      padding: 0px;
      font-size: 30px;
      }
      img {
        width: 700px;
        height: 350px;
      }
      
    }
     &__cards {
       display: flex;
       flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
      
     }
     &__store {
      margin: 0px;
     p{
      text-align: center;
      ul{
        text-align: center;
      }
     }
      
     }
   }
 }
@media (max-width:500px){
  .main {
    &__logo {
margin: 0px;
padding: 0px;
p{
  font-size: 20px;
}
    }
  &__banner {
    p{
      margin: 0px;
    padding: 0px;
    font-size: 30px;
    }
    img {
      width: 300px;
      height: 150px;
    }
    
  }
   &__cards {
     display: flex;
     flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
    
   }
   &__aboutus{
    margin: 0px;
    padding: 0px;
   }
   &__faqs{
    margin: 0px;
    padding: 0px;
   }
   &__store {
    margin: 0px;
   p{
    text-align: center;
    ul{
      text-align: center;
    }
   }
    
   }
 }
}