.pantalones {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    340deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(118, 3, 171, 1) 38%,
    rgba(127, 0, 185, 1) 69%,
    rgba(0, 0, 0, 1) 86%
  );
  color: violet;
  font-family: $typoLogo;
  &__titulo {
    padding: 60px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    h2 {
        padding: 20px;
        font-size: 75px;
        font-family: $typoLogo;
    }
    p{
        font-family: $typoLogo;
        font-size: 30px;
    }
  }
  &__banner {
    padding: 70px;
    text-align: center;
    img{
        width: 1000px;
        height: 350px;
    }
  }
  &__tienda {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "pant1 pant2 pant3"
      "pant4 pant5 pant6"
      "pant7 pant8 pant9";
    img {
      width: 350px;
      height: 350px;
    }
    p {
      font-size: 30px;
    }
  }

  .pant1 {
    grid-area: pant1;
  }

  .pant2 {
    grid-area: pant2;
  }

  .pant3 {
    grid-area: pant3;
  }

  .pant4 {
    grid-area: pant4;
  }

  .pant5 {
    grid-area: pant5;
  }

  .pant6 {
    grid-area: pant6;
  }

  .pant7 {
    grid-area: pant7;
  }

  .pant8 {
    grid-area: pant8;
  }

  .pant9 {
    grid-area: pant9;
  }
}
