.formulario {
 background-color: $colorFondo;
&__contact {
  text-align: center;
  font-family: $typoLogo;
  color: $colorletras;
}
  &__form{
    margin-left: 400px;
    margin-right: 400px;
    padding: 300px ;
    color:$colorletras;
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding: 50px;
    padding-bottom: 150px;
    font-family: $typoLogo;
  }
}
@media (max-width:1021px)  {
  .formulario{
    &__form {
  //      margin-left: 400px;
  // margin-right: 400px;
  // padding: 300px ;
  color:$colorletras;
  background-color: rgb(157, 27, 27);
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  font-family: $typoLogo;
    }
  }
 
}
@media (max-width:750px){
  .formulario{
    margin: 0px;
   &__form{
       margin: 0px;
       padding: 0px;
       padding-bottom: 150px;
    background-color:$colorFooter;
    border: none;
   }
}
}
@media (max-width: 450px){
  .formulario{
       margin: 0px;
      &__form{
          margin: 0px;
          padding: 0px;
          padding-bottom: 150px;
       background-color:$colorFooter;
       border: none;
      }
  }
}
