.sneakers {
  background-color: $colorFondo;
  &__titulo {
    color:$colorletras;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 40px;
    h2 {
        padding: 20px;
        font-size: 75px;
        font-family: $typoLogo;
    }
    p{
        font-family: $typoLogo;
        font-size: 30px;
    }
  }
&__tienda{
     display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "zap1 zap2 zap3 zap4"
    "zap5 zap6 zap7 zap8"
    "zap9 zap10 zap11 zap12"
    "zap13 zap14 zap15 zap16";
    justify-items: center;
    align-items: center;
    justify-content: center;
    img{
      width: 350px;
      height: 350px;
    }

  .zap1 {
    grid-area: zap1;
 
   
    padding: 50px;
  }

  .zap2 {
    grid-area: zap2;
 
   
    padding: 50px;
  }

  .zap3 {
    grid-area: zap3;
 
   
    padding: 50px;
  }

  .zap4 {
    grid-area: zap4;
   
  
    padding: 50px;
  }

  .zap5 {
    grid-area: zap5;
 
     padding: 50px;
  }

  .zap6 {
    grid-area: zap6;
 
   
    padding: 50px;
  }

  .zap7 {
    grid-area: zap7;
  
   
    padding: 50px;
  }

  .zap8 {
    grid-area: zap8;

    padding: 50px;
  }

  .zap9 {
    grid-area: zap9;
 
  
    padding: 50px;
  }

  .zap10 {
    grid-area: zap10;
  
    padding: 50px;
  }

  .zap11 {
    grid-area: zap11;
 
    padding: 50px;
  }

  .zap12 {
    grid-area: zap12;
   
    padding: 50px;
  }
  .zap13 {
    grid-area: zap13;
  
    padding: 50px;
  }
  .zap14 {
    grid-area: zap14;
   
    padding: 50px;
  }
  .zap15 {
    grid-area: zap15;
   
    padding: 50px;
  }
  .zap16 {
    grid-area: zap16;
   
    padding: 50px;
  }
  img {
    width: 350px;
    height: 350px;
  }
  p {
    padding-top: 20px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color:$colorletras;

  }
  a:hover {
    text-decoration: underline;
    transition: 0.5s;
  }
}
 
  &__baner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 50px;
    img {
        height: 350px;
        width: 650px;
    }
  }
}
  @media (max-width:1600px){
    .sneakers {
      background-color: $colorFondo;
      &__titulo {
        color:$colorletras;
        text-align: center;
        margin-left: 250px;
        margin-right: 250px;
        padding: 40px;
        h2 {
            padding: 20px;
            font-size: 75px;
            font-family: $typoLogo;
        }
        p{
            font-family: $typoLogo;
            font-size: 30px;
        }
      }
    &__tienda{
         display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "zap1 zap2 zap3 zap4"
        "zap5 zap6 zap7 zap8"
        "zap9 zap10 zap11 zap12"
        "zap13 zap14 zap15 zap16";
        justify-items: center;
        align-items: center;
        justify-content: center;
    
      .zap1 {
        grid-area: zap1;
     
       
        padding: 50px;
      }
    
      .zap2 {
        grid-area: zap2;
     
       
        padding: 50px;
      }
    
      .zap3 {
        grid-area: zap3;
     
       
        padding: 50px;
      }
    
      .zap4 {
        grid-area: zap4;
       
      
        padding: 50px;
      }
    
      .zap5 {
        grid-area: zap5;
     
         padding: 50px;
      }
    
      .zap6 {
        grid-area: zap6;
     
       
        padding: 50px;
      }
    
      .zap7 {
        grid-area: zap7;
      
       
        padding: 50px;
      }
    
      .zap8 {
        grid-area: zap8;
    
        padding: 50px;
      }
    
      .zap9 {
        grid-area: zap9;
     
      
        padding: 50px;
      }
    
      .zap10 {
        grid-area: zap10;
      
        padding: 50px;
      }
    
      .zap11 {
        grid-area: zap11;
     
        padding: 50px;
      }
    
      .zap12 {
        grid-area: zap12;
       
        padding: 50px;
      }
      .zap13 {
        grid-area: zap13;
      
        padding: 50px;
      }
      .zap14 {
        grid-area: zap14;
       
        padding: 50px;
      }
      .zap15 {
        grid-area: zap15;
       
        padding: 50px;
      }
      .zap16 {
        grid-area: zap16;
       
        padding: 50px;
      }
      img {
        width: 350px;
        height: 350px;
      }
      p {
        padding-top: 20px;
        text-align: center;
      }
      a {
        text-decoration: none;
        color:$colorletras;
    
      }
      a:hover {
        text-decoration: underline;
        transition: 0.5s;
      }
    }
     
      &__baner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
        padding: 50px;
        img {
            height: 350px;
            width: 650px;
        }
      }
  }
}
@media (min-width:901px) {
  .sneakers {
    background-color: $colorFondo;
    &__titulo {
      color:$colorletras;
      text-align: center;
      margin-left: 250px;
      margin-right: 250px;
      padding: 40px;
      h2 {
          padding: 20px;
          font-size: 75px;
          font-family: $typoLogo;
      }
      p{
          font-family: $typoLogo;
          font-size: 30px;
      }
    }
  &__tienda{
       display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "zap1 zap2 zap3 zap4"
      "zap5 zap6 zap7 zap8"
      "zap9 zap10 zap11 zap12"
      "zap13 zap14 zap15 zap16";
      justify-items: center;
      align-items: center;
      justify-content: center;
      img{
        width: 250px;
        height: 250px;
      }
  
    .zap1 {
      grid-area: zap1;
   
     
      padding: 50px;
    }
  
    .zap2 {
      grid-area: zap2;
   
     
      padding: 50px;
    }
  
    .zap3 {
      grid-area: zap3;
   
     
      padding: 50px;
    }
  
    .zap4 {
      grid-area: zap4;
     
    
      padding: 50px;
    }
  
    .zap5 {
      grid-area: zap5;
   
       padding: 50px;
    }
  
    .zap6 {
      grid-area: zap6;
   
     
      padding: 50px;
    }
  
    .zap7 {
      grid-area: zap7;
    
     
      padding: 50px;
    }
  
    .zap8 {
      grid-area: zap8;
  
      padding: 50px;
    }
  
    .zap9 {
      grid-area: zap9;
   
    
      padding: 50px;
    }
  
    .zap10 {
      grid-area: zap10;
    
      padding: 50px;
    }
  
    .zap11 {
      grid-area: zap11;
   
      padding: 50px;
    }
  
    .zap12 {
      grid-area: zap12;
     
      padding: 50px;
    }
    .zap13 {
      grid-area: zap13;
    
      padding: 50px;
    }
    .zap14 {
      grid-area: zap14;
     
      padding: 50px;
    }
    .zap15 {
      grid-area: zap15;
     
      padding: 50px;
    }
    .zap16 {
      grid-area: zap16;
     
      padding: 50px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    p {
      padding-top: 20px;
      text-align: center;
    }
    a {
      text-decoration: none;
      color:$colorletras;
  
    }
    a:hover {
      text-decoration: underline;
      transition: 0.5s;
    }
  }
   
    &__baner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      padding: 50px;
      img {
          height: 350px;
          width: 650px;
      }
    }
}
}
@media (max-width:900px){
  .sneakers {
&__tienda { 
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
}
}
@media (max-width:425px){
  .sneakers {
    &__titulo { 
      margin: 0px;
      padding: 0px;

    }
    &__tienda { 
      margin: 0px;
      padding: 0px;
      display: flex;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      img{
        width: 150px;
        height: 150px;
      }
    }
    }
}


